<div class="topbar" id="myTopnav">
  {% if "/en/" in page.url %}
    <a class="general" href="/en/index.html">Home</a>
    <a class="general" href="/en/musica/index.html">Music</a>
    <a class="general" href="/en/objetos/index.html">Instruments</a>
    <a class="general" href="/en/colaboracoes/index.html">Collaborations</a>
    <a class="general" href="/en/projetos-participativos/index.html">Community</a>
    <a class="general" href="/en/workshops/index.html">Workshops</a>
    <a class="general" href="/en/investigacao/index.html">Research</a>
    <!-- <a class="general" href="/en/aulas/index.html">Lessons</a> -->
    <a class="general" href="/en/blog/index.html">Blog</a>
    <a class="general" href="/en/links/index.html">Contacts</a>
    <a class="general" href="{{ page.url | replace('/en/', '/') }}">
      <img src="/img/pt.webp" alt="Português" />
    </a>
  {% else %}
    <a class="general" href="/index.html">Início</a>
    <a class="general" href="/musica/index.html">Música</a>
    <a class="general" href="/objetos/index.html">Instrumentos</a>
    <a class="general" href="/colaboracoes/index.html">Colaborações</a>
    <a class="general" href="/projetos-participativos/index.html">Comunidade</a>
    <a class="general" href="/workshops/index.html">Workshops</a>
    <a class="general" href="/investigacao/index.html">Investigação</a>
    <a class="general" href="/aulas/index.html">Aulas</a>
    <a class="general" href="/blog/index.html">Blog</a>
    <a class="general" href="/links/index.html">Contactos</a>
    <a class="general" href="/en{{ page.url }}">
      <img src="/img/uk.webp" alt="English" />
    </a>
  {% endif %}
  <a class="general icon" href="javascript:void(0);" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>