<div class="topbar" id="myTopnav">
  <a href="/en/index.html">Homepage</a>
  <a href="/en/musica/index.html">Music</a>
  <a href="/en/objetos/index.html">Instruments</a>
  <a href="/en/colaboracoes/index.html">Collaborations</a>
  <a href="/en/projetos-participativos/index.html">Community</a>
  <a href="/en/workshops/index.html">Workshops</a>
  <a href="/en/investigacao/index.html">Research</a>
  <!-- <a href="/blog/index.html">Blog</a> -->
  <a href="/en/links/index.html">Contacts</a>
  <a href="{{ page.url | replace('/en/', '/') | replace('/index.html', '/') }}">
    <img src="/img/pt.webp" alt="" />
  </a>
  <!--       <a href="/radio/index.html">Rádio</a> -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i
  ></a>
</div>
