<div class="topbar" id="myTopnav">
  <a href="/index.html">Início</a>
  <a href="/musica/index.html">Música</a>
  <a href="/objetos/index.html">Instrumentos</a>
  <a href="/colaboracoes/index.html">Colaborações</a>
  <a href="/projetos-participativos/index.html">Comunidade</a>
  <a href="/workshops/index.html">Workshops</a>
  <a href="/investigacao/index.html">Investigação</a>
  <a href="/aulas/index.html">Aulas</a>
  <a href="/blog/index.html">Blog</a>
  <a href="/links/index.html">Contactos</a>
   <a href="/en{{ page.url }}">
    <img src="/img/uk.webp" alt="" />
  </a>
</a>
  <!--       <a href="/radio/index.html">Rádio</a> -->
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i
  ></a>
</div>
