<div class="topbar" id="myTopnav">
  <a href="/index.html">Homepage</a>
  <a href="/musica/index.html">Music</a>
  <a href="/objetos/index.html">Instruments</a>
  <a href="/colaboracoes/index.html">Collaborations</a>
  <a href="/projetos-participativos/index.html">Community</a>
  <a href="/workshops/index.html">Workshops</a>
  <a href="/investigacao/index.html">Research</a>
  <a href="/blog/index.html">Blog</a>
  <a href="/links/index.html">Contacts</a>

  <a href="/en{{ page.url }}">
    <img src="/img/uk.webp" alt="" />
  </a>

  <!-- <a href="/radio/index.html">Rádio</a> -->

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>