html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background:#023e8a;
  z-index: 0; 
}

#content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 2rem;
}

textarea {
  width: 100%;
  height: 100px;
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
  font-weight:lighter;
  border: 3px solid white;
  overflow: auto;
  resize: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding:5px;
  box-sizing: border-box;
}

textarea:focus{
  outline: none !important;
  border: 3px solid #8ecae6;
  box-shadow:none;
}

.tr-counter {
  border:transparent;
  width: 50px;
  margin-top: 5px;
  text-align: right;
  color: white;
  font-family: "Space Mono", monospace;
  font-weight:normal;
  font-size: 20px;
}

.button-counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

button {
  background-color: black;
  color: white;
  border: 1px solid white;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 2px;
  padding:5px
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 5px;
}

button:active{
  background-color: red;
  color: white;
  border: 1px solid black;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 5px;
}

#decoded {
  pointer-events: none;
  word-wrap: break-word;
  word-break:break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1.3;
  hyphens: auto;
  font-family: "Space Mono", monospace;
  font-weight:normal;
  text-transform:lowercase;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 768px) {
  #decoded {
    line-height: 1.2;
  }

  input,
  textarea,
  select {
    font-size: 16px;
  }
}